{% extends 'base.html' %}

{% block title %}Logout - MediaShare{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-sign-out-alt fa-3x text-warning mb-3"></i>
                    <h4>Are you sure you want to logout?</h4>
                    <p>You will need to login again to access your account.</p>
                    
                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-sign-out-alt"></i> Yes, Logout
                        </button>
                        <a href="{% url 'frontend:feed' %}" class="btn btn-secondary">
                            Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}